<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userbase::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>UserDashboard</title>
</head>
<body>
	<section>

		<div class="card mr-3" >
			<div class="card-body">
				<div class="container text-center">
					<h1>User details</h1>
<br>
<img class="profileimage" style="height: 200px; width: 200px;"
						alt="" src="" th:src="@{https://www.clipartkey.com/mpngs/m/146-1461473_default-profile-picture-transparent.png}">
					<h3 class="mt-3">
					
						<span th:text="${user.name}"></span> 
					</h3>

					<table class="table">
						<thead>
							<tr>
								<th scope="col">User ID</th>
								<th scope="col"><span
									th:text="'SCMUSER'+${user.id}"></span></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">User Email</th>
								<td><span th:text="${user.email}"></span></td>

							</tr>
							<tr>
								<th scope="row">Role</th>
								<td><span th:text="${user.role}"></span></td>

							</tr>
							<tr>
								<th scope="row">Account Active</th>
								<td><span th:text="${user.enabled}"></span></td>

							</tr>
							
							<tr>
								<th scope="row">About</th>
								<td><span th:text="${user.about}"></span></td>

							</tr>
							
						</tbody>






					</table>
					

				</div>
			</div>

		</div>

		
	</section>
</body>
</html>